/* Searchbar ActionItemsContainer.jsx (right) part of the container */
.searchbar-right-container {
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchbar-icon {
	width: 25%;
	cursor: pointer;
}
