.searchbar-container {
	background-color: white;
	padding: 15px 15px 20px 15px;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.5px solid #b9b8b7;
}

.searchbar-left-container {
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchbar-logo-symbol {
	width: 20%;
}

.searchbar-logo-name {
	width: 65%;
}

.searchbar-middle-container {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchbar-input {
	padding: 7px 10px;
	background-color: #fdfdfa;
	border: 1px solid #b9b8b7;
}

.searchbar-input::placeholder {
	text-align: center;
	color: #b9b8b7;
	font-size: 0.8rem;
}

.searchbar-right-container {
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchbar-icon {
	width: 20%;
}
