.commentsection-container {
	background-color: #ef798a;
}

.comment-box {
	padding: 10px;
	border: 0.5px dashed white;
}

.comment-box input {
	line-height: 1.5;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
}
