/* CommentSection.jsx full container */
.commentsection-container {
	background-color: white;
}

/* LikesContainer.jsx container */
.commentsection-icons-likes-container {
	padding: 0 10px 5px 10px;
}

.likes {
	font-weight: bold;
	padding-bottom: 10px;
}

/* ActionItems.jsx container */
.commentsection-icons-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.commentsection-icon {
	width: 7%;
	height: 7%;
	padding: 10px 10px 10px 0;
	margin-left: -10px;
	cursor: pointer;
}
.bubble {
	width: 7%;
	height: 7%;
}

.display-true {
	display: block;
	cursor: pointer;
}

.display-none {
	display: none;
}

/* Comment.jsx container */
.comment-box {
	padding: 10px 0;
	border: 0.5px dashed white;
}

.comment-box input {
	line-height: 1.5;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
}

.comments-username {
	font-weight: 700;
	padding-right: 5px;
}

/* NewComment.jsx container */
.commentsection-new-comment-container {
	padding: 10px 0;
}

.commentsection-new-comment-container input {
	width: 100%;
	border: none;
	border-top: 0.5px solid #b9b8b7;
	padding-top: 15px;
	font-size: 0.9rem;
	line-height: 2;
}
