/* ImageContainer.jsx container */
.post-image-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.post-image {
	width: 100%;
}

/* TimeStampContainer.jsx container */
.timestamp {
	color: #b9b8b7;
	font-weight: lighter;
	padding: 20px 0 0 10px;
}
